@(pageId: Int, pagesCount: Int, filterOpt: Option[String])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

    <div class="row">
      <form class="form-inline"> 
        <div class="form-group mx-sm-3 mb-2"> 
          <label class="sr-only">Filter string (a-z or 0-9)</label> 
          <input type="text" class="form-control input-filter" placeholder="Filter string (a-z or 0-9)" @if(filterOpt.isDefined) { value="@filterOpt.get" }>
        </div> 
        <button type="submit" class="btn btn-primary mb-2 inputFilterAction">filter</button>
      </form>

      <div class="btn-group center-block mx-auto mb-4 mt-4">
        @if(pageId > 1) {
          <a href="@routes.AccountsController.adminAccounts" class="btn btn-outline-info">prev</a>
        }	
        @if(pageId < pagesCount) {
          <a href="@routes.AccountsController.adminAccounts" class="btn btn-outline-info">next</a>
        }
      </div>
    </div>
