@(account: models.Account, options: Seq[models.BOption])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

@app.common.main(messages("app.header.menu.options")) { } {
  @base.common.components.container() {  

  @base.common.components.table(Seq("option", "value", "actions"), options.map( option => Seq(Html(option.descr),
    if(option.toBoolean)
      Html("<span class='badge badge-pill badge-success' id=\"option-boolean-indicator-" + option.name + "\">true</span>")
    else
      Html("<span class='badge badge-pill badge-danger' id=\"option-boolean-indicator-" + option.name + "\">false</span>")
 ,
    Html("<a href=\"#\" class=\"badge badge-primary option-boolean-switcher\" id=\"option-boolean-switcher-" + option.name + "\">switch</a>")      
 )))

     
  }
} { 

@helper.javascriptRouter("jsRoutes")(
  routes.javascript.OptionsController.switchBooleanOption
)

<script type="text/javascript">
  $(document).ready(function(){
    $('.option-boolean-switcher').click(function(evt) {
      evt.preventDefault();
    var optionName = this.id.substring(24, this.id.length);   
      jsRoutes.controllers.OptionsController.switchBooleanOption().ajax({
      data: JSON.stringify({name: optionName}),
    contentType: 'text/json'
    }).done(data => {
    var indicator = $('#option-boolean-indicator-' + optionName);
    if(data == "true") {
      indicator.removeClass('badge-danger');
      indicator.addClass('badge-success');
      indicator.html('true');
    } else {
      indicator.removeClass('badge-success');
      indicator.addClass('badge-danger');
      indicator.html('false');        
    }
    }).fail(data => {
    alert(data.responseText);
    });   
  });
  })
</script>

}
