@(inForm: Form[_])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@app.common.commonAuthRegPage("Восстановление пароля") {

    <h2 class="mb-4">Придумайте новый пароль</h2>

    @b4.form(routes.AccountsController.processRecoverPassword) {
        @b4.text( inForm("password"), '_label -> "Введите новый пароль" )
        @b4.text( inForm("repassword"), '_label -> "Повторите ввод пароля" )
        @b4.hidden( inForm("login") )
        @b4.hidden( inForm("code") )
        @b4.submit('_class -> "mt-5", 'class -> "btn btn-outline-primary btn-block"){ Обновить пароль }
    }

}