@(inForm: Form[_])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@app.common.commonAuthRegPage(messages("app.header.menu.signup")) {

  <h2>@messages("app.register.step1of3")</h2>
  <h4 class="mb-4 mt-4">@messages("app.register.step1of3.subheader")</h4>
  <p>@messages("app.register.step1of3.description1")</p>
  <p class="mb-5">@messages("app.register.step1of3.description2")</p>
  
  @b4.form(routes.AccountsController.registerProcessUser) {
    @b4.text( inForm("login"), '_label -> messages("app.register.step1of3.form.username") )
    @b4.text( inForm("email"), '_label -> messages("app.register.step1of3.form.email") )
    @b4.submit('_class -> "mt-5", 'class -> "btn btn-outline-primary btn-block"){ @messages("app.register.step1of3.form.button") }   
  }
      
  <p class="text-secondary mt-5">@messages("app.register.step1of3.description3") <a href="@routes.AccountsController.login()">@messages("app.register.step1of3.description3.signin")</a></p>
  
}